* {
    box-sizing: border-box;
  }

body {     
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
    height: 100vh;
    width: 100wh;

}

html {
    scroll-behavior: smooth;
  }


h1 {
    text-align: center;
    font-size: xx-large;
} 
  
.main-container{
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100vh;
    margin: 20px;
}

.container { 
    background-color: lightsalmon;    
    border: 1px dotted gray;
    padding: 20px;
}  

.center {
    /* background-color: blue; */
    max-width: 100ch;
  
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
.centering-section { 
    /* background-color: blueviolet; */
    display: grid;
    align-items: center;
    justify-items: center;
    /* max-height: 100vh; */
    margin: 0px;
    padding: 30px 0px 30px 0px;
    border: 1px solid black;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;
    /* margin: 20px; */
}

.container { 
    /* background-color: lightsalmon;     */
    border: 1px dotted gray;
    padding: 20px;
 }

.list-section{
    border: 1px dotted blue;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    height: 30ch;
    width: 50rem;  
}

.filters-section { 
background-color: yellow; 
border: 1px dotted gray;
}

.search-area{
    /* display: grid; */
    height: 40px;
    width: 600px;
    border-radius: 10px;
    font-size: large; 
    margin-right: 10px; 
    overflow: hidden; 
}

.frame-list{
    background-color: cadetblue;
    min-width: 8rem;
    display: grid;
    grid-template-rows: auto;
}

.expenses-list{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-self: center;
    gap: auto;
    /* align-self: center; */
    justify-self: flex-start;    
}

.expense-item{
    border: 1px dotted green;    
    list-style-type: none;
    /* width: 200px; */
    min-width: 12rem;
}

.search-button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: large;
    background-color: blue;
}

.add-new-item-container{
    border: 1px dotted blue; 
    display: grid;
    grid-auto-flow: column;
    width: 800px;
    height: 60px;
}



.expense-form{
    align-self: center;
}

.input{
    margin: 15px;
}



.sectioned-label { 
    text-align: center;
    justify-content: center;

}

.add-new-item-button{
    height: 40px;
    width: 100px;
    justify-self: end;
    align-self: center;
    border-radius: 20px;
    font-size: large;
    margin-right: 2rem;
}

.expense-form{
    display: grid;
    /* grid-template-columns: auto; */
    /* align-self: center; */
    grid-auto-flow: column;
}

/* .input{
    margin: 15px;
} */

.sectioned-label h3 { 
    margin-bottom: 5px;
}




/* Aside filtering Section */


.div-forms-container {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 1rem;
}

.clear-all-section { 
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 1rem;
}
